
*.log
*.sublime-project
*.sublime-workspace
*.sw[mnpcod]
*.swp
*.tmp
*.tmp.*
.DS_Store
.idea
.sass-cache/
.versions
Thumbs.db
UserInterfaceState.xcuserstate
bower_components/
components/
coverage/
dist
example/cordova/iOS/www/js/framework
framework.sublime-project
framework.sublime-workspace
log.txt
node_modules
node_modules/
platforms/
plugins/
temp
tmp
www/build/
